<h1>Welcome</h1>
<p>This is the landing page for Crumblr, a really crumby blog about me creating lots of Ruby on Rails clones!</p>
<p>This is just a placeholder. Later on, it will be replaced with a list of blog posts</p>
